a {
  text-decoration: none;
  color: #000;
}

button {
  margin-right: 50px;
  margin-left: 50px;

}

.btnUsers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;
  height: 50px;
  width: 50%;
}

.btnPosts {
  display: flex;
  align-items: center;
  background-color: blue;
  height: 50px;
  width: 50%;
}

.head {
  display: flex;
}
